NGINX_ADMIN=false
NGINX_AGENT=false
NGINX_APICENTER=false
NGINX_API=false
NGINX_CDN=true
NGINX_CLIENT=false
NGINX_GAMEJUMP=false
NGINX_MASTER=false
NGINX_MOBILE=true
NGINX_PORTAL=false
NGINX_REDIRECT=false
NGINX_ROBOTCENTER=false
NGINX_ROBOT=false
NGINX_THIRDPARTYJUMP=false
NGINX_SYS=false
NGINX_RESELLER=false
NGINX_APP=true