NGINX_ADMIN=true
NGINX_AGENT=true
NGINX_APICENTER=true
NGINX_API=false
NGINX_CDN=true
NGINX_CLIENT=true
NGINX_GAMEJUMP=false
NGINX_MASTER=true
NGINX_MOBILE=false
NGINX_PORTAL=false
NGINX_REDIRECT=false
NGINX_ROBOTCENTER=false
NGINX_ROBOT=false
NGINX_THIRDPARTYJUMP=true
NGINX_SYS=true
NGINX_RESELLER=false
NGINX_APP=false